html,
body {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -o-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e1f2ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e3a54;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #02134c;
    border-radius: 10px;
}

#tonni {
    scroll-margin-top: 8rem !important;
}

#aicl {
    scroll-margin-top: 15rem !important;
}

#contact {
    scroll-margin-top: 15rem !important;
}

.background {
    background-image: url(../images/try.png);
    z-index: -10;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 !important;
    overflow: hidden;
}

.navigation {
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 40px;
    display: block;
}

.contain-nav {
    margin-top: 35vh;
    margin-left: 10vw;
    position: fixed;
}

.nav-item {
    color: #1e3a54;
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: font-size .3s ease;
    -moz-transition: font-size .3s ease;
    -o-transition: font-size .3s ease;
    transition: font-size .3s ease;
    z-index: -5;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;

}

.nav-item:hover {
    font-size: 4rem;
    color: #015db3;
    text-decoration: none;
}

.content {
    background-color: white;
    width: 100vw;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 2%;
    z-index: 10;
    display: block;
    position: relative;
    box-shadow: 0 -10px 100px 0 rgba(1, 15, 21, 0.6) !important;
}

.contain-index {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.tekst, .tekst-f {
    color: #2b2b2b;
    vertical-align: middle;
    margin: auto;
}

.tekst-main {
    color: #2b2b2b;
    vertical-align: middle;
    margin: auto;
}

.image-n {
    text-align: center;
    margin: auto;
}

.image-nn {
    width: 40%;
    text-align: center;
}

.p-graf {
    padding-top: 5%;
}

.paragraf {
    padding-top: 2%;
    padding-bottom: 2%;
}

.features {
    text-align: center;
    margin: auto;
    padding-top: 10%;
    font-size: 1.8rem;
    color: #1e3a54;
    font-weight: bold;
}

.o-nama {
    color: #1e3a54;
    font-weight: 300;
}

h3 {
    font-size: 1.2rem;
    color: #1e3a54;
    font-weight: bold;
}

.red-features1 {
    margin: auto;
    padding: 6%;
}

.chess-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0px 0px 0 rgba(5, 49, 125, 0.2), 0 6px 20px 0 rgba(11, 48, 100, 0.19);
}

.img-feature {
    margin: auto;
    text-align: center;
}

.txt-features-l {
    padding-left: 25px;
}

.txt-features-r {
    padding-right: 25px;
}



.aicl {
    background-color: #eaf0f6;
    width: 100vw !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 4%;
    padding-bottom: 4%;

}

.red-aicl {
    margin: auto;
    vertical-align: middle;
}

.image-aicl {
    text-align: center;
    margin: auto;
    width: 70%;
}

.aicl-button {

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    background-color: #1e3a54;
    -webkit-transition: color .1s ease;
    -moz-transition: color .1s ease;
    -o-transition: color .1s ease;
    transition: color .1s ease;
    -webkit-transition: background-color .1s ease;
    -moz-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
}

.aicl-button:hover {
    border: 1px solid #1e3a54;
    color: #1e3a54;
    background-color: #eaf0f6;
    text-decoration: none;
}

.aicl-tekst {
    margin: auto;
}

.red-contact {
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
    vertical-align: middle;
}

.frame {
    text-align: center;
    margin: auto;
}

iframe {
    filter: hue-rotate(230deg) grayscale(50%);
    height: 500px !important;
}

#website {
    display: none;
}

input,
textarea {
    outline: 0 !important;
    border-width: 0 0 1px !important;
    border-color: #4b5c92 !important;
    color: #31437d !important;
    font-family: 'Poppins', sans-serif !important;
    border-radius: 0 !important;
}

input:focus,
textarea:focus {
    border-color: rgb(24, 24, 24) !important;
    border-radius: 0 !important;
}

.form-control:focus,
.form-control:active {
    border-color: none !important;
    box-shadow: none !important;
    background-color: none !important;
}

.form-inp {
    padding-top: 2rem;
}

form {
    padding-top: 10px;
}

.btn {
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: #1e3a54;
    -webkit-transition: color .1s ease;
    -moz-transition: color .1s ease;
    -o-transition: color .1s ease;
    transition: color .1s ease;
    -webkit-transition: background-color .1s ease;
    -moz-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;

}

.btn:hover, .btn:focus, .btn:active {
    border: 1px solid #1e3a54;
    color: #1e3a54;
    background-color: white;
    text-decoration: none;
    box-shadow: none;
}

.contact {
    padding: 5%;
    margin: auto;

}

.error {
    font-size: 16px;
    color: #1f4ee9;
}

.fail {
    font-size: 18px;
    color: #305ae4;

}

.success {
    font-size: 18px;
    color: #7a1fe9;

}

.center-mess {
    text-align: center;
    margin: auto;
}

.footer {
    background-color: #1e3a54;
    color: white;
    padding: 10%;
    display: block;
    z-index: 10;
}

.footer a, .footer a:hover {
    color: white;
    text-decoration: none;
}

.red-footer {
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    vertical-align: middle;
}

.info {
    text-align: center;
    margin: auto;
}

.sm {
    margin: auto;
    padding-left: 20px;
    text-align: center;
}

.sm1 {
    width: 50px;
    margin-right: 20px;
}

.sm2 {
    width: 50px;
    margin-left: 20px;

}

.logo-white {
    width: 50%;
    text-align: left;
    margin: auto;
}

.logo-footer {
    margin: auto;
}



@media only screen and (max-width: 1600px) {
    .contain-index {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
    }

    .image-aicl {
        width: 100%;
    }

    .red-footer {
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .background {
        background-image: url(../images/try-1600.png);
        z-index: -10;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 !important;
        overflow: hidden;
    }

}



@media only screen and (max-width: 991.98px) {
    .contain-index {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
    }

    .image-aicl {
        width: 70%;
    }

    .red-footer {
        margin: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .red-features1 {
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .tekst, .img-feature, .frame {
        padding-left: 0;
        padding-right: 0;
    }


}



@media only screen and (max-width: 767.98px) {
    .nav-item {
        color: #1e3a54;
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-item:hover {
        font-size: 2.3rem;
        color: #015db3;
        text-decoration: none;
    }

    .contain-nav {
        margin-top: 32vh;
        margin-left: 5vw;
        z-index: 1;
    }

    .image-nn {
        width: 30%;
        padding-top: 20px;
        text-align: center;
    }

    iframe {
        height: 300px !important;
    }

    .red-footer {
        margin: auto;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        vertical-align: middle;
    }

    .info {
        margin: auto;
        text-align: center;
        padding-bottom: 40px;
    }

    .sm {
        margin: auto;
        text-align: center;
    }

    .sm1 {
        width: 50px;
        margin-right: 10px;
    }

    .sm2 {
        width: 50px;
        margin-left: 10px;

    }

    .tekst-main {
        padding-top: 10%;
    }

    #tonni {
        scroll-margin-top: 1rem !important;
    }

    #aicl {
        scroll-margin-top: 3rem !important;
    }

    #contact {
        scroll-margin-top: 9rem !important;
    }
    .image-aicl {

        padding-bottom: 20px;
    }
    .logo-white {
        width: 40%;
        text-align: center;
        padding-bottom: 20px;
    }
    .txt-features-l, .txt-features-r, .aicl-tekst, .contact {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}
